<!DOCTYPE html>
<html>
<head>
  <title>{{ user.full_name() }}</title>
</head>
<body>
  <h1>{{ user.full_name() }}</h1>

  <img src="{{ user.image_url }}" alt="{{ user.full_name() }}'s profile picture" width="150">

  <p><a href="/users/{{ user.id }}/edit">Edit</a></p>

  <form action="/users/{{ user.id }}/delete" method="POST">
    <button>Delete</button>
  </form>

  <h2>Posts</h2>

<ul>
  {% for post in user.posts %}
    <li>
      <a href="/posts/{{ post.id }}">{{ post.title }}</a>
      <small>(Posted on {{ post.created_at.strftime('%b %d, %Y at %I:%M%p') }})</small>
    </li>
  {% endfor %}
</ul>

<p>
  <a href="/users/{{ user.id }}/posts/new">Add New Post</a>
</p>

  <a href="/users">Back to Users</a>
</body>
</html>